<div class="row">
  <div class="col-sm-3">
    <center>
      <%= image_tag @book.main_image_link, width: 200, height: 300, class: 'm-t-30' %>
      <div class="br-wrapper br-theme-fontawesome-stars m-t-20">
        <%= select_tag :book_rating, options_for_select([1,2,3,4,5], selected: 3), id: 'book-rating' %>
        <small>rated 3.4 by 1000 users</small>
      </div>
    </center>
  </div>
  <div class="col-sm-6">
    <h2> <%= @book.title %></h2>
    <h4><small>by</small> <small class="text-primary"><%= @book.author%></small> </h4>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#amazon-link" data-toggle="tab" aria-expanded="false">Amazon Link</a></li>
      <li class=""><a href="#audiobook" data-toggle="tab" aria-expanded="false">Audiobook</a></li>
      <li class=""><a href="#animated-review" data-toggle="tab" aria-expanded="true">Animated Review</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active in text-center" id="amazon-link">
        <br/>
        <%= link_to "Buy from Amazon", @book.link_to_amazon_in, class: "btn btn-success" %>
      </div>
      <div class="tab-pane fade text-center" id="audiobook">
        <br/>
        <%= YouTubeAddy.youtube_embed_url(@book.youtube_audiobook_link,500,315).html_safe %>
      </div>
      <div class="tab-pane fade text-center" id="animated-review">
        <br/>
        <%= YouTubeAddy.youtube_embed_url(@book.youtube_animated_review_link,500,315).html_safe %>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-12">
    <h4>Summary</h4>
    <p><%= @book.summary %></p>
  </div>
</div>
<hr>
