<div class="col-sm-8 col-sm-offset-2">
  <div class="well">
    <%= form_for @book, url: (action_name == 'create' ? admins_books_path : admins_book_path(@book)) do |f| %>
      <fieldset>
        <legend>Book Record</legend>
      <div class="form-group col-sm-6">
        <label>Title</label>
        <%= f.text_field :title, class: "form-control"%>
      </div>
      <div class="form-group col-sm-6">
        <label>Author</label>
        <%= f.text_field :author, class: "form-control"%>
      </div>
      <div class="form-group col-sm-12">
        <label>Summary</label>
        <%= f.text_area :summary, class: "form-control"%>
      </div>
      <div class="form-group col-sm-12">
        <label>Link for amazon.com</label>
        <%= f.text_field :link_to_amazon_com, class: "form-control"%>
      </div>
      <div class="form-group col-sm-12">
        <label>Link for amazon.in</label>
        <%= f.text_field :link_to_amazon_in, class: "form-control"%>
      </div>
      <div class="form-group col-sm-12">
        <label>Main Image Link</label>
        <%= f.text_field :main_image_link, class: "form-control"%>
      </div>
      <div class="form-group col-sm-12">
        <label>Youtube Audibook Link</label>
        <%= f.text_field :youtube_audiobook_link, class: "form-control"%>
      </div>
      <div class="form-group col-sm-12">
        <label>Animated Review Youtube Link</label>
        <%= f.text_field :youtube_animated_review_link, class: "form-control"%>
      </div>
      <div class="form-group col-sm-12 text-center">
        <%= f.submit 'Save', class: "btn btn-success"%>
      </div>
      </fieldset>
    <% end %>
  </div>
</div>
